<% content_for :title do %>
	Add a new post
<% end %>

<h1>Create a new post</h1>

<form class="form">
	<label>Author</label></br>
	<input type="text" name="author"></br>
	<label>Suject</label></br>
	<input type="text" name="subject"></br>
	<label>Content</label></br>
	<textarea></textarea></br>
	<input type="submit" value="Save post">
</form>
