<div id="header">
	<div class="wrapper">
		<div><a href="/garages"><h1 id="logo">Open Garage</h1></a></div>
		<div id="header-nav">
			<ul>
				<li class="border"><a href="/users/new">Sign up</a></li>
				<li><a href="/sessions/new">Login</a></li>
				<li><a href="/sessions/new" id="btn">List your garage sale</a></li>
			</ul>
		</div>
	</div>
</div>