<div id="search-bar">
	<div class="wrapper">
		<p class="left">Find a Garage Sale</p>
		<form id="search_form" action="index.php">
			<input type="text" name="zipcode" placeholder="Zipcode" class="input-box" />
			<input type="text" name="date" placeholder="Date" class="input-box" />
			<select class="select" name="type">
				<option value="1">Antiques</option>
				<option value="2">Clothes</option>
				<option value="3">Kitchenware</option>
				<option value="4">Tools</option>
				<option value="5">Appliances</option>
				<option value="6">Electronics</option>
				<option value="7">Kids Stuff</option>
				<option value="8">Automotive</option>
				<option value="9">Furniture</option>
				<option value="10">Lawn/Garden</option>
				<option value="11">Books/Media</option>
				<option value="12">Jewerly</option>
				<option value="13">Sporting goods</option>
				<option value="14">Pet supplies</option>
			</select>
			<input type="submit" id="btn-search" value="Search" />
		</form>
	</div>
</div>