<% content_for :title do %>
	Display all users
<% end %>

<h1>Users list</h1>
<table class="table">
		<tr>
			<th>User ID</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Email address</th>
		</tr>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.email_address %></td>
			</tr>
		<% end %> 
</table>

