<% content_for :title do %>
	Add a new user
<% end %>

<h1>Create a new user</h1>

<form title="form">
	<label>First name</label></br>
	<input type="text" name="first_name"></br>
	<label>Last name</label></br>
	<input type="text" name="last_name"></br>
	<label>Email</label></br>
	<input type="text" name="email"></br>
	<label>Password</label>
	<input type="password" name="password">
	<input type="submit" value="Save User">
</form>


