<% content_for :title do %>
	User profile
<% end %>

<h1>Edit user <%= @user.id %></h1>

<p>Current information</p>
<table>
  <tr>
    <th>First name: </th>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <th>First name: </th>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <th>First name: </th>
    <td><%= @user.email_address %></td>
  </tr>
</table>
</br></br>